<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <!-- Configuração do Servlet UsuarioController -->
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>controller.UsuarioController</servlet-class>
        <load-on-startup>1</load-on-startup> <!-- Opcional: Carrega o servlet quando o servidor iniciar -->
    </servlet>

    <!-- Mapeamento de URL para o UsuarioController -->
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/UsuarioController</url-pattern> <!-- URL do servlet -->
    </servlet-mapping>

    <!-- Configuração do Welcome File List (arquivo inicial) -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file> <!-- Página inicial do projeto -->
    </welcome-file-list>
</web-app>
